<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DanplannerBooking.Ui</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/create-campsite">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Campsite
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/campsites">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Campsite
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/create-space">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Space
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/allSpaces">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> All Spaces
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/spaces-admin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Spaces Admin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/register">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/users">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Create-Cottage">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Cottage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/allCottages">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cottage
            </NavLink>
        </div>        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Cottages-admin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cottage Admin
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}



<a href="/spaces-admin"><p>spaces-admin</p></a>

