version: '3.9'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    ports:
      - "1435:1433"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "MySqlServer123!"
    volumes:
      - sqlvolume:/var/opt/mssql

volumes:
  sqlvolume: