@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<a href="/create-campsite"><p>create-campsite</p></a>
<a href="/campsites"><p>campsites</p></a>
<a href="/create-space"><p>create-space</p></a>
<a href="/space"><p>space</p></a>
<a href="/allSpaces"><p>allSpaces</p></a>
<a href="/spaces-admin"><p>spaces-admin</p></a>
<a href="/register"><p>register User</p></a>
<a href="/users"><p>users</p></a>




Welcome to your new app.
